body {
    background-color: #15202B;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #1DA1F2;
}

h1 {
    padding: 24px;
    text-align: center;
}

.container {
    text-align: center;
}

ul {
    display: inline-block;
}

li {
    padding: 5px;
}

img {
    display: block;
    margin: auto;
    width: 50%;
}